body {
  background-color: #121212;  /* nền đen */
  color: #ffffff;             /* chữ trắng */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #d90429; /* đỏ đậm */
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

nav {
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  background-color: #333;
  border-radius: 5px;
  transition: 0.3s;
}

nav a:hover {
  background-color: #d90429;
}
